html {
    border-left: 5px solid lightgray;
}


body {
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

header, main, footer {
    padding: 1rem 2rem;
}

h1 {
    color: tomato;
}
h3{
    color:lightgray;
}

img {
    width: 100%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    color: lightgray;
}

footer nav ul li a {
    color: tomato;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article p::first-letter {
    color: lightgray;
}

footer {
    color: lightgray;
}

p:first-letter {
    float: left;
    font-size: 5em;
    line-height: 0.5em;
    padding-bottom: 0.05em;
    padding-top: 0.2em;
  }

  .continue {
    color: tomato;
    position: relative;
    left: 800px;
  }
   